@media (max-width: 967px) {

    body {
        flex-direction: column;
    }

    .entrada_de_dados {
        width: 100%;
    }

    .entrada_de_dados .logo {
        margin: 73.4px 0px 0px 0px;
        margin-left: 60px;
    
    }

    .entrada_de_dados textarea {
        margin: 110px 0px 0px 0px;
        width: 90%;
        height: 318px;
        border: 1px solid black;
        resize: none;
    }

    .textarea_centralize {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    section .aviso {
        margin: 10px 0px 0px 0px;
        margin-left: 60px;
    }

    section buttons {
        width: 250px;
    }

    .buttons {
        margin: 0px 0px 0px 0px;
        display: flex;
        justify-content: center;
        margin: auto;
        max-width: 85%;
    }

    .saida_dados img {
        display: none;
        width: 688px;
    }

    .saida_dados {
        height: 133px;
        width: 90%;
    }

    .saida_dados h3 {
        margin-top: 0rem;
    }


}

@media (min-width:1200px) {

    body{
    width: 1000px;
    height: 100vh;
    }
}